// Import the mixins
@import "css3-mixins.sass"

/*************************************************************************/
/*********************  FONT FACE          ******************************/
/*************************************************************************/

@import url(https://fonts.googleapis.com/css?family=Oswald)

//ALexis marie
@font-face
	font-family: Alexis
	src: url(../fonts/alexis_marie/alexis-marie.ttf)
	src: url(../fonts/alexis_marie/alexis-marie.eot?#iefix) format('embedded-opentype'),url(../fonts/alexis_marie/alexis-marie.woff2) format('woff2'), url(../fonts/alexis_marie/alexis-marie.woff) format('woff'), url(../fonts/alexis_marie/alexis-marie.ttf)  format('truetype'), url(../fonts/alexis_marie/alexis-marie.svg#svgFontName) format('svg') 

//Geomet
@font-face
	font-family: Geomet
	src: url(../fonts/geomet/geomet.ttf)
	src: url(../fonts/geomet/geomet.eot?#iefix) format('embedded-opentype'),url(../fonts/geomet/geomet.woff2) format('woff2'), url(../fonts/geomet/geomet.woff) format('woff'), url(../fonts/geomet/geomet.ttf)  format('truetype'), url(../fonts/geomet/geomet.svg#svgFontName) format('svg')

//Geomet12
@font-face
	font-family: 'Geomet12'
	src: url(../fonts/geomet12/geomet12.ttf)
	src: url(../fonts/geomet12/geomet12.eot?#iefix) format('embedded-opentype'),url(../fonts/geomet12/geomet12.woff2) format('woff2'), url(../fonts/geomet12/geomet12.woff) format('woff'), url(../fonts/geomet12/geomet12.ttf)  format('truetype'), url(../fonts/geomet12/geomet12.svg#svgFontName) format('svg')




/*************************************************************************/
/*********************       RESET          ******************************/
/*************************************************************************/

html,body
	width    : 100%
	height   : auto
	font-size: 16px


/*************************************************************************/
/*********************       VARIABLES      ******************************/
/*************************************************************************/

$color_green      : #489100
$color_lemon      : #e6ffcc
$color_claro_green: #688c00

$color_limon      : #c2fe82

$color_red        : #b22d00 
$color_dark_red   : #b22c00
$color_red_fuerte : #FE0000

$color_brow       : #A94E0A
$color_semibrow   : #4e4635

$color_black_text : #444444
$color_gray       : #eeeeee

$color_pink       : #FFFAE4
$color_pink_claro : #ebaa98


$color_melon      : #fbf2ce

/*************************************************************************/
/*********************       TEXTOS      ******************************/
/*************************************************************************/

.text-phone--green
	color    : $color_green
	font-size: 1.250em

.text-email--red
	color      : $color_red
	font-size  : 0.938em
	line-height: 18px


/*************************************************************************/
/*******************************  BOTONES   ******************************/
/*************************************************************************/

//boton aside version mobile solamente
.btn-more-to-aside-right 
	background     : $color_green
	border-radius  : 5px
	box-shadow     : 0px 3px 2px rgba(0,0,0,.6)
	color          : white
	font-size      : 15px 
	margin         : 0 0 15px
	padding        : 10px
	text-decoration: none
	//focus and hover
	&:focus,&:hover 
		color          : white 
		text-decoration: none 

//boton en el banner enlaza producto promocionado
.btn_more-product
	background     : $color_red_fuerte
	color          : white
	display        : inline-block
	font-size      : 14px
	margin         : 5px auto 0
	padding        : 5px 10px
	text-align     : center
	text-decoration: none
	+text-shadow(none)

	&:hover,&:focus
		color          : white 
		text-decoration: none

	
/*************************************************************************/
/**************************** BACKGROUNDS   ******************************/
/*************************************************************************/	
.bg-body
	background: url("../images/bg-body.jpg")

/*************************************************************************/
/*********************   OBJETOS Y ELEMENTOS    **************************/
/*************************************************************************/

//linea de sepación
.separator-line
	background: url('../images/linea_garoe.jpg') no-repeat
	display   : block
	height    : 6px
	margin    : 30px auto 
	width     : 100%


/*****************  WRAPPER  **************************/
.main-wrapper
	width : 1000px
	margin: 0 auto
	display: block

.main-wrapper__middle
	width  : 50%
	display: inline-block

.main-wrapper--align-center
	align-items: center

/*****************   LOGO  **************************/
.logo 
	margin: 0 auto

.logo__container
	width  : 70%
	display: block
	margin : 4px 0

/*****************   HEADER **************************/
.mainHeader
	width          : 100%
	background     : url(../images/barra-superior_home_garoe.png) no-repeat 
	background-size: 100% 100%

	/* widget */
	.mainHeader__widget-info
		font-weight: 600 
		padding    : 0 23px 0 0

.mainHeader__pre-container
	height : 144px
	display: flex

/* -------------------- HEADER VERSION MOBILE --------------------*/
.mainHeader__small
	background: white
	border    : 2px solid gray
	height    : 60px
	left      : 0
	padding   : 5px 10px
	position  : fixed
	right     : 0
	top       : 0
	z-index   : 999

	/*------ << -- ICONOS DENTRO DEL HEADER --->>*/
	.icon-header
		background: $color_green
		color     : white 
		font-size : 35px
		padding   : 5px


/*****************  NAVIGATION **************************/
.mainNav
	background     : url('../images/bg-navbar.jpg')
	background-size: 100% 100%
	width          : 100%

	/*ul*/
	ul 
		list-style-type: none
		padding        : 0
		margin         : 0 auto
		text-align     : center 
		li 
			display : inline-block
			position: relative
			z-index : 9999
			@include transition("all 200ms ease-in-out")

			//activo y hover
			&.current-menu-item, &.current-menu-ancestor , &:hover
				background: green 

			a 
				color          : white
				font-size      : 12px
				line-height    : 14px
				text-transform : uppercase
				text-decoration: none
				display        : block
				padding        : 12px 25px

			/* submenu */
			ul 
				background: rgba(0,128,0,.8)
				height    : 0
				left      : 0
				overflow  : hidden
				position  : absolute
				@include opacity(0)
				@include transition("all 200ms ease-in-out")

				li 
					display: block

			//hover submenu
			&:hover ul 
				@include opacity(1)
				height: auto


/*****************  BANNERS **************************/

// Home
.sectionBanner
	margin: 0 auto -10%
	
	//Imagen que cubre al wrapper
	.carouselImageLayer
		background     : url('../images/layer_garoe.png') no-repeat center
		background-size: 100% 100%
		bottom         : 0
		height         : 200px
		position       : absolute
		width          : 100%

	//Wrapper
	.carousel-inner
		.item 
			//image
			img 
				width: 100%

			//caption - contenido
			.carousel-caption
				right      : 15%
				top        : 15%
				text-align : right

				//titulo
				h2
					font-family        : 'Geomet'
					font-size          : 5em
					font-weight        : 700
					margin             : 0 auto
					text-transform     : uppercase
					-webkit-text-shadow: 5px 4px 7px black, 5px 12px 25px rgba(0,0,0,9)
					-moz-text-shadow   : 5px 4px 7px black, 5px 12px 25px rgba(0,0,0,9)
					-o-text-shadow     : 5px 4px 7px black, 5px 12px 25px rgba(0,0,0,9)
					text-shadow        : 5px 4px 7px black, 5px 12px 25px rgba(0,0,0,9)
				//parrafo
				p 
					font-family        : 'Geomet12'
					font-size          : 1.5em
					margin             : 0 auto
					-webkit-text-shadow: 4px -3px 5px black, 1px 3px 4px black
					-moz-text-shadow   : 4px -3px 5px black, 1px 3px 4px black
					-o-text-shadow     : 4px -3px 5px black, 1px 3px 4px black
					text-shadow        : 4px -3px 5px black, 1px 3px 4px black

//boton control banner
.btn-arrowBanner
	@include opacity(1)
	@include transition("all 200ms ease-in-out")
	background-color: rgba(0,0,0,0)
	color           : #fff !important
	font-size       : 60px
	position        : absolute
	text-align      : center
	text-shadow     : 0 1px 2px rgba(0,0,0,.6)
	top             : 35%

	//hover
	&:hover 
		@include opacity(0.8)

//left
.btn-arrowBanner--left
	left: 10%
//right
.btn-arrowBanner--right
	right: 10%


/***************** CONTENIDO PRINCIPAL  *********************/

.mainContent
	@include border-radius(15px 15px 0 0)
	background: white 
	margin    : 2% auto 0
	padding   : 40px 35px
	position  : relative

	//contenedor
	.mainContent__container
		margin: 0 auto 27px

		//titulo
		.mainContent__container__title
			color      : $color_dark_red
			font-family: 'Alexis'
			font-size  : 27px
			font-weight: 600 
			line-height: 32.4px
			margin     : 0 0 15px

		//article
		.mainContent__container__article
			@include border-radius(10px)
			background: $color_lemon
			display   : flex
			flex-wrap : wrap 
			padding   : 20px 24px

			//imagen
			figure 
				margin: 0 auto 

		//texto
		.mainContent__container__article__text,.mainContent__container__article__text h3
			color      : $color_black_text
			font-size  : 13px
			line-height: 16.9px
			margin     : 0 auto 
		.mainContent__container__article__text
			margin: 0 15px 0 0
			width : 70%

/***************** CONTENIDO PAGINA SERVICIOS  *********************/
.mainContent__containerService
	@include border-radius(10px)
	background: $color_pink
	padding   : 20px 24px

	//cotenedor de articulos
	.mainContent__containerService

	//artículos
	.mainContent__containerService__article
		align-items: center 
		display    : flex
		flex-wrap  : wrap 

		h2
			color      : rgb(50, 47, 32)
			font-family: 'Oswald', sans-serif
			font-size  : 26px 

		//imagen
		figure
			border            : 8px solid $color_pink_claro
			border-radius     : 50%
			margin            : 0 20px
			display           : inline-block
			overflow          : hidden
			transition        : all 900ms ease-in-out
			-moz-transition   : all 900ms ease-in-out
			-webkit-transition: all 900ms ease-in-out
			-o-transition     : all 900ms ease-in-out
			-webkit-mask-image: -webkit-radial-gradient(white, black)

			img
				transition        : all 900ms ease-in-out
				-webkit-transition: all 900ms ease-in-out
				-moz-transition   : all 900ms ease-in-out
				-o-transition     : all 900ms ease-in-out
			
			&:hover 
				border-color: $color_brow

				img
					transform: scale(1.2)
					-webkit-transform: scale(1.2)
					-moz-transform: scale(1.2)
					-o-transform: scale(1.2)

		//parrafo
		p 
			font-size : 12px
			text-align: justify

		//cotenedor texto
		.mainContent__containerService__article__text
			width: 70%


/***************** CONTENIDO PAGINA CONTACTO  *********************/
.mainContent__containerContacto
	@include border-radius(10px)
	background: $color_pink
	padding   : 20px 24px

	//contenedor flexible primera parte
	.mainContent__containerContacto__info
		align-items    : center
		display        : flex
		justify-content: space-around

		//item de cada formulario
		.info-item
			h2
				font-family: 'Oswald', sans-serif
				font-size  : 20px 
				margin     : 0 auto 16px

			//parrafo
			p 
				font-size: 0.75em

			//icono pequeno
			i 
				margin: 0 15px 0 0

			figure
				&.image_icono_arbol
					margin: 0 15px 0 0
				 
				//imagen de contacto
				&.image_contact
					border       : 6px solid $color_dark_red
					border-radius: 50%
					margin       : 0 auto
					max-width    : 190px
					overflow     : hidden
					-webkit-mask-image: -webkit-radial-gradient(white, black)

					img 
						@include transition("all 600ms ease")

					&:hover 
						img 
							@include transform("scale(1.2)")

	//contenedor de formulario segunda parte
	.mainContent__containerContacto__form
		margin: 20px 50px 0
		max-width: 530px
		
		.form-group
			font-size: 0.8125em 
			position : relative
			label
				font-weight   : 500 
				margin        : 10px auto 
				max-width     : 100px 
				vertical-align: top
				width         : 20%

				i 
					color: red

				&.error
					@include transition("all 500ms ease")
					background: red
					color     : white
					font-style: italic
					margin    : 0 auto
					max-width : 100%
					padding   : 5px
					position  : absolute
					right     : 6px
					top       : -28px
					width     : auto

			input,textarea
				background-color: $color_melon
				border          : 1px solid #BBAF9B
				max-width       : 420px 
				outline         : 0
				padding         : 10px 
				width           : 80%
			textarea
				height    : 105px
				max-height: 105px

			//boton submit
			button
				background : #7c664e
				border     : none 
				color      : white 
				font-family: 'Oswald',sans-serif
				font-size  : 16px 
				outline    : 0
				padding    : 5px 20px
				@include transition("all 500ms ease")

				&:hover
					@include transform("scale(1.2)")
					 
			//mensaje de error
			.error
				background: #FFECE6
				border-top: 2px solid red
				color     : #EC572F	

/***************** GALERIA   *********************/
.mainContent__gallery
	display        : flex
	flex-flow      : wrap
	justify-content: center
	margin         : 0 auto 20px

	//articulo interno
	.mainContent__gallery__article
		margin  : 0 15px 15px
		width   : 30%
		overflow: hidden

		//titulo
		h3
			color    : #b22c00
			font-size: 15px
			margin   : 0 auto 5px

	//>>>>>>> galeria con 4 articulos
	.mainContent__gallery__article--images
		margin  : 0 1px 1px
		overflow: hidden
		width   : 33%
		
		//hover
		&:hover
			//title
			h3
				background: green
				color     : white 
			//imagen
			a 
				img 
					@include opacity(0.9)
					@include transform("scale(1.2)")

		//contenedor imagen
		a 
			overflow: hidden
			img
				@include transition("all 600ms ease")
			

		//titulo
		h3
			@include transition("all 600ms ease")
			background : rgba( 0, 0, 0 , .1)
			color      : $color_semibrow
			font-family: 'Oswald', sans-serif
			font-size  : 14px 
			margin     : 0 auto
			padding    : 20px 
			position   : relative
			z-index    : 999
			
/***************** SIDEBAR  *********************/

//PREFOOTER 
.sidebarPreFooter
	background     : $color_gray
	display        : flex
	flex-wrap      : wrap 
	justify-content: space-between
	padding        : 25px 21px

// ===========>>>> SIDEBAR MOBILE 
.sidebarMobile
	background: white 
	border    : 10px solid 
	padding   : 20px 0 
//version con fondo negro
.sidebarMobile--black
	background: black !important
	z-index   : 9999999


/***************** WIDGETS  *********************/

//sidebar
.sidebar-widget-prefooter
	width          : 30%
	
	//image - iframe
	iframe
		margin: 0 auto 35px 

//title
.sidebar-widget__title
	color      : $color_dark_red
	font-family: 'Alexis'
	font-size  : 22px
	font-weight: 600
	line-height: 26.4px
	margin     : 0 auto 17px

//text - description 
.sidebar-widget__description
	color      : $color_black_text
	font-size  : 13px
	line-height: 17.53px


//ARTICULOS DE POST 
.sidebar-widget-article
	//title y textp
	.sidebar-widget-article__title,.sidebar-widget-article__text
		color      : $color_black_text
		font-size  : 13px
		line-height: 17.53px
	//title
	.sidebar-widget-article__title
		color      : $color_dark_red
		font-weight: 600
	//link
	a 
		color      : $color_dark_red
		font-size  : 13px
		line-height: 17.53px


/***************** SECCION TESTIMONIOS  *********************/

//CITAS Y COMENTARIOS
.mainContent__quote
	min-height: 200px
	display   : flex
	flex-flow : wrap

	//blockquote
	.mainContent__quote__blockquote
		margin     : 0 15px 15px
		padding    : 15px
		width      : 45%

		//imagen
		figure
			float       : left
			margin-right: 10px
			max-width   : 70px

		//parrafo
		p 
			color: rgba( 0,0,0,.6)


/***************** SECCION WOOCOMMERCE  *********************/

//productsContent
.productsContent
	margin: 0 auto 35px
	//title
	.productsContent__title
		color      : $color_dark_red
		font-family: 'Alexis'
		font-size  : 27px
		font-weight: 600 
		line-height: 32.4px
		margin     : 0 0 15px

	//contenedor de productos
	.productsContent__productos
		display  : flex
		flex-wrap: wrap 

	//articulos o productos
	.productsContent__product
		border : 1px solid rgba(0,0,0,.1)
		display: inline-block
		margin : 0 5px 15px 
		width  : 23%

		//imagen
		figure 
			margin  : 0 auto 16px
			position: relative

		//titulo del producto
		h3
			color    : $color_dark_red
			font-size: 15px
			margin   : 0 auto 5px			
		//detalle o link hacia el producto
		a 
			color          : $color_claro_green
			font-size      : 15px
			margin         : 0 auto
			text-decoration: none 


/***************** SECCION PRODUCTOS PAGE AND SINGLE  *********************/

//galeria
.sectionProducts__gallery
//articulo de producto
.article-producto
//contenedor link articulo
.article-producto__link
	//background   : rgba(0,0,0,.2)
	display        : block 
	margin         : 0 auto 15px 
	overflow       : hidden
	padding        : 5px
	position       : relative
	//hover
	&:hover 
		text-decoration: none


//span texto indica promocion del producto
.article-producto__promotion   
	background   : $color_green
	border-radius: 5px
	color        : white
	display      : block
	font-size    : 13px
	margin       : 0 auto
	max-width    : 80%
	padding      : 5px

//imagen - figure
.article-producto__image
	border  : 1px solid rgba(0,0,0,.1)
	height  : 154.656px
	overflow: hidden
	position: relative
	width   : 100% 

	//hover 
	&:hover 
		img 
			transform        : scale(1.2)
			-webkit-transform: scale(1.2)
			-moz-transform   : scale(1.2)
			-o-transform     : scale(1.2)
	
	//imagen de producto en miniatura
	img 
		+transition("all 600ms ease-in-out")
		-webkit-backface-visibility: hidden
		-webkit-transform: translateZ(0) scale(1.0, 1.0)

//span coloca la oferta imagen
.oferta-img-product
	background     : url("../images/oferta/oferta_boton.png") no-repeat
	background-size: 100% 100%
	height         : 45%
	left           : 0
	position       : absolute
	top            : 0
	width          : 45%

//titulo
.article-producto__title
	background: white 
	bottom    : 0
	color     : $color_green 
	font-size : 1em
	left      : 0
	margin    : 0 auto
	padding   : 5px
	position  : relative
	right     : 0
	text-align: center
	@include transition("all 500ms ease")

//CATEGORIAS DE LLOS PRODUCTOS  Y SECCION DE CATEGORIA DEL BLOG
.sectionProducts__categories, .sectionBlog__categories
	
	//paneles sobreescribir por defecto el de bootstrap
	.panel-group
		.panel 
			@include border-radius( 0 )
		.panel-default
			.panel-heading
				background: white 
				color     : $color_green
			.panel-body
				//menu 
				.toggle-category__menu
					list-style-type: none 
					margin         : 0 auto 
					padding        : 0
					li 
						a 
							color : black
							padding-left: 0
							@include transition("all 400ms ease")
							
							//hover o activo link
							&:hover, &.active
								color       : $color_green
								padding-left: 10px

//titulo: 
.sectionProducts__categories__title
	background: $color_green
	color     : white 
	font-size : 20px
	margin    : 0 auto 15px 
	padding   : 5px 10px 

//>>>>>>>>SINGLE DEL PRODUCTO
.mainArticleProduct
.mainArticleProduct__image
	margin  : 0 auto 30px
	position: relative
	width   : 90%
	border  : 1px solid rgba(0,0,0,.1)

//subtitulos
.mainArticleProduct__subtitle
	color      : $color_dark_red
	font-family: 'Alexis'
	font-size  : 27px
	line-height: 32.4px
	margin     : 0 0 15px
//textos
.mainArticleProduct__text
	font-size: 0.9375em

//Productos Relacionados
.mainArticleProduct__related
	margin: 40px auto 0

/************************************************************************************/
/********************************* BLOG   *******************************************/
/***********************************************************************************/

.sectionBlogPage
//ARTICULO DE BLOG MINIATURA
.sectionBlogPage__article
	border-bottom : 1px solid gray
	margin        : 0 auto 15px
	padding-bottom: 15px

	a 
		color          : black 
		text-decoration: none
		&:hover 
			text-decoration: none
		
		//boton VER MAS
		&.btn-more 
			background: $color_green
			color     : white 
			display   : inline-block
			padding   : 5px 10px 
			@include border-radius( 4px )

		//boton link a post
		&.link-to-post
			color: $color_green

		
//imagen
.sectionBlogPage__article__image
	margin   : 0 10px 0 0 
	max-width: 250px
//titulo
.sectionBlogPage__article__title
	color          : $color_claro_green
	font-size      : 20px
	font-weight    : 600  
//texto
.sectionBlogPage__article__text
	color    : black 
	font-size: 15px 



/***************** >>>>>>>>>>>>>>>>>> FOOTER <<<<<<<<<<<<<<<<<<<<<<<<  *********************/
/***************** >>>>>>>>>>>>>>>>>>         <<<<<<<<<<<<<<<<<<<<<<<<  *********************/

.mainFooter
	background     : url('../images/bn_inicio_inferior.jpg') no-repeat
	background-size: 100% 100%
	min-height     : 150px

	//item flexbox
	.item-flexbox
		align-items: center 
		display    : flex
		flex-wrap  : wrap 

	//items centrado
	.item-centrado
		display        : flex
		justify-content: space-around


//contenedor de los articulos en el pié de página
.mainFooter__content
	color    : white 
	display  : flex
	flex-wrap: wrap 
	padding  : 28px 0 0

//articulos de cada item
.mainFooter__content__item
	margin: 0 auto 20px
	h2 
		font-family: "Alexis"
		font-size  : 22px 
		margin     : 0 auto 13px

	//parrafo
	p 
		font-size: 0.75em

		span
			display: block
			margin : 9px auto 

//items personalizados
.mainFooter__content__item--nosotros
	border-right: 1px solid $color_limon
	padding     : 0 10px 
	width       : 33.3%

	//figure
	.item__figure
		margin   : 0 0 0 16px
		min-width: 168px
		width    : 100%

//item redes sociales.
.mainFooter__content__item--sociales
	align-items : center
	border-right: 1px solid #c2fe82
	display     : flex
	padding     : 0 40px

	//items
	a 
		@include transition("all 400ms ease")
		margin   : 0 6px 
		max-width: 70px

		&:hover 
			@include opacity(0.7)

//item de informacion
.mainFooter__content__item--information
	padding: 0 0 0 28px

	//lista
	ul 
		list-style-type: none
		margin         : 0 auto 15px
		padding        : 0 

		li 
			margin: 0 0 5px 
			//icono
			i 
				display       : inline-block
				margin        : 0 5px 0 0 
				max-width     : 24px
				vertical-align: middle 
				width         : 100% 

	.title-web 
		font-size: 1em

/***************** >>>>>> MEDIA QUERIES <<<<<<  *********************/

//MEDIDAS 480px max
@media ( max-width: 480px )
	
	/*[[[[[[[[[[[ -----  CONTENEDOR SBSLIDE  --------------]]]]]]]]]]]*/
	#sb-site
		padding: 60px 0 0 0

	/*[[[[[[[[[[[ -----  CONTENEDOR WRAPPER  --------------]]]]]]]]]]]*/
	.main-wrapper
		width: 100%

	/*[[[[[[[[[[[ -----  CONTENEDOR PRINCIPAL -------------]]]]]]]]]]]*/
	.mainContent
		padding: 10px
		//
		.mainContent__container 
			//article
			.mainContent__container__article
				p 
					text-align: justify
			//texto de los articulos
			.mainContent__container__article__text
				width: 100%

	/*[[[[[[[[[[[ -----------  HEADER - -------------------]]]]]]]]]]]*/
	// ==>> logo
	.logo__container
		width : 90px
		margin: 0 auto

	/*[[[[[[[[[[[ ----------  NAVIGATION  -----------------]]]]]]]]]]]*/
	.mainNav
		margin    : 20px auto 0
		ul 
			text-align: left
			li 
				display: block 
				//submenu
				ul 
					position: relative
					li 
						&:hover,&.current-menu-item
							background: white 
							//link a submenu 
							a 
								color: $color_green
				//link 
				a 

	
	/*[[[[[[[[[[[ ------- PÁGINA PORTADA - BANNER --------]]]]]]]]]]]*/
	.sectionBanner
		margin: 0 auto
		.carousel-inner 
			.item 
				.carousel-caption 
					padding: 0
					right  : 20%
					top    : 5%
					h2,p
						font-size: 15px

	//botones del banner
	.btn-arrowBanner
		font-size: 30px

	/*[[[[[[[[[[[ ------- PÁGINA PORTADA - PRODUCTOS ------]]]]]]]]]]]*/
	.productsContent 
		.productsContent__product
			width: 100%

	/*[[[[[[[[[[[ ------- FOOTER  - SIDEBAR PREFOOTER ------]]]]]]]]]]]*/
	.sidebar-widget-prefooter
		width: 100%

	//=======>>>> SECCCION NOSOTROS FOOTER
	.mainFooter__content__item--nosotros
		width: 100%
	
	/*[[[[[[[[[[[ ------- PAGINA PRODUCTOS  ------]]]]]]]]]]]*/
	.sectionProducts__gallery
	//imagen miniatura de producto
	.article-producto__image
		height: auto

	/*[[[[[[[[[[[ ------- PAGINA SERVICIOS  ------]]]]]]]]]]]*/
	.mainContent__containerService 
		//articulo
		.mainContent__containerService__article 
			//texto
			.mainContent__containerService__article__text
				width: 100%

	/*[[[[[[[[[[[ ------- PAGINA BLOG  ------]]]]]]]]]]]*/
	//==>> IMAGEN DE ARTICULO
	.sectionBlogPage__article__image
		margin   : 0 auto 10px 
		max-width: 100% 

	/*[[[[[[[[[[[ ------- PAGINA GALERIA  ------]]]]]]]]]]]*/
	.mainContent__gallery 
		//articulos 
		.mainContent__gallery__article
			width: 100%
		//imagenes 
		.mainContent__gallery__article--images
			width: 100%

	/*[[[[[[[[[[[ ------- PAGINA CONTACTO ------]]]]]]]]]]]*/
	.mainContent__containerContacto 
		//form 
		.mainContent__containerContacto__form
			margin   : 20px auto 0
			max-width: 100% 
			//form group
			.form-group 
				input,textarea
					max-width: 100%
					width    : 100%